---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const title = "Experience";
const description =
  "A detailed overview of Marlon Martin's professional experience, including roles, responsibilities, and achievements across various industries and positions.";

const experienceCollection = await getCollection("experience");
const experienceItems = experienceCollection.map((entry) => entry.data);

const sortedExperience = [...experienceItems].sort(
  (a, b) => b.startDate.getTime() - a.startDate.getTime(),
);

const formatDate = (date: Date) => {
  return date.toLocaleDateString("en-US", {
    month: "short",
    year: "numeric",
  });
};
---

<Layout title={title}>
  <div class="mt-4 lg:mt-0 flex flex-col gap-14 w-full">
    <div class="relative flex flex-col gap-14 pl-4">
      <div
        aria-hidden="true"
        class="absolute -left-4 top-0 bottom-0 w-0.5 bg-accent"
      ></div>
      {sortedExperience.map((item) => (
        <div class="relative flex flex-col gap-4">
          <div
            aria-hidden="true"
            class="absolute -left-8 top-1.5 size-3 -translate-x-1/2 rounded-full bg-accent"
          ></div>
          <div class="flex flex-row justify-between">
            <div>
              <p class="w-fit">{item.title}</p>
              <p>{item.company}</p>
              <div class="flex flex-row mt-1 gap-2 text-sm lg:hidden">
                {item.id === "hello-world" ? (
                  <p>{formatDate(item.startDate)}</p>
                ) : (
                  <>
                    <p>{formatDate(item.startDate)}</p>
                    <p>-</p>
                    <p>{item.endDate ? formatDate(item.endDate) : "Present"}</p>
                  </>
                )}
              </div>
            </div>
            <div class="hidden lg:flex flex-row mt-1 gap-2 text-sm">
              {item.id === "hello-world" ? (
                <p>{formatDate(item.startDate)}</p>
              ) : (
                <>
                  <p>{formatDate(item.startDate)}</p>
                  <p>-</p>
                  <p>{item.endDate ? formatDate(item.endDate) : "Present"}</p>
                </>
              )}
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</Layout>
