---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const title = "Notebooks";
const description =
  "A collection of Marlon Martin's notebooks, showcasing his thoughts, ideas, and insights on various topics, including technology, design, and personal reflections.";

const notebooksCollection = await getCollection("notebooks");
const notebookItems = notebooksCollection.map((entry) => entry.data);

const sortedNotebooks = [...notebookItems].sort(
  (a, b) => b.date.getTime() - a.date.getTime(),
);

const formatDate = (date: Date) => {
  return date.toLocaleDateString("en-US", {
    month: "short",
    year: "numeric",
  });
};
---

<Layout title={title}>
  <div class="flex flex-col gap-6 w-full">
    <div class="grid grid-cols-1 gap-4">
      {sortedNotebooks.map((item) => (
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-4">
            <div class="flex flex-row justify-between">
              <p>{item.title}</p>
              <p class="hidden xl:block text-sm">
                {formatDate(item.date)}
              </p>
            </div>
            <p>{item.description}</p>
          </div>
          <div class="text-sm">
            {item.links.map((source) => (
              <div>
                <a
                  href={source.href}
                  class="text-muted-foreground w-fit transition-all duration-300 ease-in-out hover:text-black"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {source.label}
                </a>
              </div>
            ))}
          </div>
          <div class="text-sm flex flex-row gap-2 flex-wrap">
            {item.category.map((cat) => (
              <p class="px-4 py-2 bg-accent">
                {cat}
              </p>
            ))}
          </div>
          <div class="flex flex-row items-center justify-between text-sm">
            <p class="xl:hidden">
              {formatDate(item.date)}
            </p>
          </div>
        </div>
      ))}
      <p class="text-lg text-muted-foreground">
        © 2026 Marlon Martin. All rights reserved.
      </p>
    </div>
  </div>
</Layout>
